---
import AppData from '../components/AppData.vue'
import Layout from '../layouts/Layout.astro'
import filters from '../data/filters.json'
import { columns, rows, ticks } from '../data/chart-config.json'
import events from '../data/events.json'

const lastDate = events[events.length - 1].date
---

<Layout
	title="Dataset & Timeline | Growth of the BDS Movement for Palestine"
	description="Search, filter and analyze all events in our dataset on the growth of the Boycott, Divestment, and Sanctions (BDS) movement for Palestinian justice."
	currentUrl="/data"
	bgColor="black"
	opengraphImage='opengraph-data.png'
>
	<h1 class="sr-only">Full Dataset</h1>
	<AppData
		client:only="vue"
		chartColumns={columns}
		chartRows={rows}
		chartTicks={ticks}
		filters={filters}
		firstDate="2005-01-01"
		lastDate={lastDate}
	/>
</Layout>
