---
import Layout from '../layouts/Layout.astro'
import HomeChart from '../components/HomeChart.vue'
import { columns, data, rows, ticks } from '../data/chart-config.json'
import { astroGetSortedStories } from "../utilities/astro-utilities"
import SketchBox from '../components/SketchBox.astro'
import SvgArrowRight from '../images/arrow-right.svg'
import SvgHomeTitle from '../images/home-title.svg'
import SvgUnderlineLg from '../images/underline-lg.svg'
import SvgVPLogo from '../images/vp-logo.svg'
import HomeQuickLinks from '../components/HomeQuickLinks.astro'
import UnderlinedText from '../components/UnderlinedText.astro'

const stories = await astroGetSortedStories()
---

<Layout
	title="Growth of a Movement: The BDS campaign for Palestinian justice"
	description="Explore the actions that have shaped the Palestinian-led Boycott, Divestment, and Sanctions (BDS) movement for freedom, justice, and equality."
	currentUrl="/"
	bgColor="black"
	showHeader={false}
>
	<div class="text-white">
		<div class={`
				relative
				h-svh
				grid
				grid-rows-2
			`}
		>
			<div
				class={`
					absolute
					top-0
					bottom-0
					w-full
				`}
			>
				<HomeChart
					client:only="vue"
					columns={columns}
					datasets={[
						{
							id: 'all-data',
							hexes: data,
              style: {
                fill: 'var(--color-chart)',
              }
						},
					]}
					rows={rows}
					ticks={ticks}
				/>
			</div>
			<div class="relative px-6 flex flex-col items-center justify-center">
				<div class="max-w-lg flex flex-col items-center gap-6 md:gap-8 2xl:max-w-2xl 3xl:max-w-4xl">
					<h1>
						<span class="sr-only">
							Growth of a Movement
						</span>
						<SvgHomeTitle class="w-full h-auto" aria-hidden="true" />
					</h1>
					<p class="text-lg text-center max-w-lg md:text-xl 3xl:max-w-2xl 3xl:text-2xl">
						Explore the actions that have shaped the Palestinian-led, global <strong>Boycott, Divestment, and Sanctions (BDS)</strong> movement for freedom, justice, and equality.
					</p>
					<HomeQuickLinks class="portrait:hidden" />
				</div>
			</div>
			<div class="
				relative
				p-6
				flex
				portrait:flex-col
				portrait:justify-between
				portrait:items-center
				landscape:justify-center
				landscape:items-end
			">
				<HomeQuickLinks class="landscape:hidden h-1/2" />
				<img src="/illustrations/movement.png" class="w-2/3 lg:w-auto lg:h-3/4" />
			</div>
		</div>
		<section
			id="stories"
			class="
				my-32
				px-4
				max-w-xl
				mx-auto
				flex
				flex-col
				gap-12
				xl:max-w-5xl
				xl:px-0
				xl:grid
				xl:grid-cols-5
			"
		>
			<div class="
				max-w-lg
				flex
				flex-col
				gap-6
				text-center
				text-lg
				xl:col-span-2
				xl:text-left
				xl:gap-4
				md:text-xl
			">
				<h2 class="text-2xl font-black xl:text-4xl">
					A Global Movement
				</h2>
				<p>
					The Palestinian call for boycott, divestment, and sanctions against Israel has inspired a global movement of activists, workers, students, and community groups. They run <a href="https://bdsmovement.net/Guide-to-BDS-Boycott" class="underline" target="_blank">targeted campaigns</a> that challenge international support for Israeli oppression and pressure Israel to comply with international law.
				</p>
				<p>
					These stories illustrate the growth and impact of the BDS movement.
				</p>
			</div>
			<div
				class="
					flex
					flex-col
					gap-6
					xl:col-span-3
				"
			>
				{stories.map((story, i) => (
					<a
						href={`/${story.id}`}
						class="relative focus-visible:outline-2 focus-visible:outline-current"
					>
						<SketchBox
							backgroundPathId={`panel-bg-${i % 6 + 1}`}
							class={`
								flex
								items-center
								gap-4
								aspect-[3.2/1]
								transition-all
								bg-blue
								hover:bg-red
								hover:-translate-y-1
								hover:scale-105
								${i % 2 ? 'hover:-rotate-1' : 'hover:rotate-1'}
								md:gap-6
								xl:aspect-[4/1]
								xl:gap-8
							`}
						>
							<img
								src={story.data.illustration}
								class={`
									w-2/5
									self-end
									-ms-4
									xl:w-1/3
									xl:ms-0
								`}
							/>
							<div class="relative top-1 flex flex-col items-start">
								<span class="text-sm leading-tight uppercase md:text-lg">
									{story.data.prefix}
								</span>
								<span class="relative text-xl leading-tight font-black md:text-3xl">
									{story.data.title}
									<SvgUnderlineLg
										class={`
											absolute
											top-full
											left-0
											w-full
											h-0.5
											text-yellow
											md:h-1
										`}
										aria-hidden="true"
									/>
								</span>
							</div>
						</SketchBox>
					</a>
				))}
				<a
					href="/data"
					class="relative focus-visible:outline-2 focus-visible:outline-current"
				>
					<SketchBox
						backgroundPathId={`panel-bg-${stories.length % 6 + 1}`}
						class={`
							flex
							justify-center
							items-center
							gap-4
							aspect-[3.2/1]
							transition-all
							bg-yellow
							text-black
							hover:bg-white
							hover:-translate-y-1
							hover:scale-105
							${stories.length % 2 ? 'hover:-rotate-1' : 'hover:rotate-1'}
							md:gap-6
							xl:aspect-[4/1]
							xl:gap-8
						`}
					>
							<div class="relative top-1 flex flex-col items-start">
								<span class="text-sm leading-tight uppercase md:text-lg">
									Explore the full
								</span>
								<span class="relative text-xl leading-tight font-black md:text-3xl">
									Dataset & Timeline
								</span>
							</div>
							<SvgArrowRight class="xl:w-10 h-auto" aria-hidden="true" />
						</div>
					</SketchBox>
				</a>
			</div>
		</section>
		<footer class={`
			my-32
			p-4
			flex
			flex-col
			items-center
			gap-8
			max-w-xl
			mx-auto
			text-white
		`}>
			<div class={`
				flex
				flex-col
				items-center
				gap-1
			`}
			>
				<h2 class="text-sm uppercase">
					Produced By
				</h2>
				<a href="https://visualizingpalestine.org">
					<span class="sr-only">Visualizing Palestine</span>
					<SvgVPLogo class="w-full" aria-hidden="true" />
				</a>
			</div>
			<a href="/about" class="focus-visible:outline-2 focus-visible:outline-current">
				<UnderlinedText>
					<span class="text-sm uppercase font-semibold xl:text-base 2xl:text-lg 3xl:text-xl">
						About This Site
					</span>
				</UnderlinedText>
			</a>
		</footer>
	</div>
</Layout>
