---
import UnderlinedText from "../components/UnderlinedText.astro";
import "../css/global.css";
import Logo from "../images/logo.svg";

interface Props {
	title: string;
	description: string;
	currentUrl: string,
	bgColor: string;
	showHeader?: boolean;
}

const { title, description, currentUrl, bgColor, showHeader = true } = Astro.props;

const nav = [
	{
		url: '/',
		label: 'Stories',
	},
	{
		url: '/data',
		label: 'Data',
	},
	{
		url: '/about',
		label: 'About',
	},
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://use.typekit.net">
		<link href="https://use.typekit.net/sre8kmx.css" rel="stylesheet">

		<style>
			/* jetbrainsmono latin-ext */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: italic;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin-ext.woff2) format('woff2');
				unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}
			/* jetbrainsmono latin */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: italic;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
			/* jetbrainsmono latin-ext */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: normal;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin-ext.woff2) format('woff2');
				unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}
			/* jetbrainsmono latin */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: normal;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
		</style>
	</head>
	<body class={`
			bg-${bgColor}
		`}
	>
		<svg style="position: absolute;width:0;height:0">
			<defs>
				<clipPath id="panel-bg-1" clipPathUnits="objectBoundingBox">
					<path d="M0.9787 0.9787C0.9801 0.9787 0.9886 0.9783 0.9905 0.9706C0.9924 0.9626 0.9936 0.954 0.9958 0.9378C0.9963 0.9338 0.9968 0.9293 0.9971 0.9243C0.9973 0.9218 0.9974 0.9193 0.9975 0.9166L0.9976 0.9126C0.9977 0.9113 0.9977 0.9095 0.9977 0.9096C0.9979 0.9077 0.998 0.9057 0.9981 0.9035C0.9984 0.899 0.9985 0.8938 0.9985 0.8876C0.9985 0.8235 0.9948 0.8235 0.9948 0.7593C0.9948 0.695 0.9965 0.6951 0.9965 0.6309C0.9965 0.5667 0.9949 0.5668 0.9949 0.5027C0.9949 0.4385 0.9983 0.4386 0.9983 0.3745C0.9983 0.3104 0.9986 0.3104 0.9986 0.2462L0.9986 0.0963C0.9986 0.0884 0.9986 0.081 0.9984 0.0746C0.9982 0.0714 0.9981 0.0683 0.9979 0.0656C0.9978 0.0628 0.9976 0.0602 0.9973 0.0579C0.9969 0.053 0.9964 0.0492 0.9959 0.0456C0.9954 0.0422 0.9949 0.0393 0.9943 0.0363C0.9931 0.0302 0.9914 0.0249 0.9901 0.0217C0.9888 0.0187 0.9875 0.0168 0.986 0.0149C0.9845 0.0132 0.9829 0.0117 0.981 0.0114C0.9791 0.0108 0.977 0.0117 0.9747 0.012C0.9724 0.0125 0.9699 0.0128 0.9671 0.013C0.966 0.013 0.9649 0.0132 0.9638 0.0133C0.9629 0.0133 0.962 0.0133 0.961 0.0134C0.9506 0.0136 0.9401 0.0138 0.9297 0.0139C0.914 0.0139 0.914 0.0164 0.8983 0.0164C0.8826 0.0164 0.8826 0.0091 0.8669 0.0091C0.8565 0.0093 0.846 0.0095 0.8356 0.0097C0.8199 0.0097 0.8199 0.0058 0.8042 0.0058C0.7885 0.0058 0.7885 0.0192 0.7728 0.0192C0.7572 0.0192 0.7572 0.0094 0.7415 0.0094C0.7258 0.0094 0.7258 0.0039 0.7101 0.0039C0.6945 0.0039 0.6945 0.0189 0.6788 0.0189C0.6631 0.0189 0.6631 0.0117 0.6474 0.0117C0.6317 0.0117 0.6317 0.0073 0.616 0.0073C0.6004 0.0073 0.6004 0.0041 0.5847 0.0041C0.569 0.0041 0.569 0.0091 0.5533 0.0091C0.5376 0.0091 0.5376 0.0149 0.522 0.0149C0.5063 0.0149 0.5063 0.0179 0.4906 0.0179C0.4749 0.0179 0.4749 0.0098 0.4593 0.0098C0.4436 0.0098 0.4436 0.0154 0.4279 0.0154C0.4122 0.0154 0.4122 0.0166 0.3966 0.0166C0.3809 0.0166 0.3809 0.0119 0.3652 0.0119C0.3495 0.0119 0.3495 0.0062 0.3339 0.0062C0.3182 0.0062 0.3182 0.0028 0.3025 0.0028C0.2869 0.0028 0.2869 0.0113 0.2712 0.0113C0.2555 0.0113 0.2555 0.0021 0.2398 0.0021C0.2241 0.0021 0.2242 0.0065 0.2085 0.0065C0.198 0.0066 0.1876 0.0068 0.1771 0.0069C0.1614 0.0069 0.1614 0.0148 0.1458 0.0148C0.1301 0.0148 0.1301 0.0084 0.1144 0.0084C0.1039 0.0084 0.0935 0.0083 0.083 0.0083C0.0674 0.0083 0.0674 0.0017 0.0517 0.0017C0.0439 0.0017 0.0399 0.0029 0.036 0.0042C0.0355 0.0044 0.035 0.0045 0.0345 0.0047C0.0336 0.0049 0.0327 0.005 0.0317 0.0051C0.0297 0.0054 0.0276 0.0056 0.0252 0.006C0.0229 0.0064 0.0202 0.0058 0.0175 0.0078C0.0148 0.0098 0.0122 0.014 0.01 0.0199C0.0082 0.0243 0.0064 0.0317 0.0053 0.0379C0.0043 0.0437 0.0037 0.0491 0.0031 0.0548C0.0019 0.0662 0.0015 0.0773 0.0015 0.0859C0.0015 0.1195 0.0015 0.1394 0.0014 0.1928C0.0014 0.2568 0.0005 0.2568 0.0005 0.3208C0.0005 0.3849 0.0019 0.3849 0.0019 0.449C0.0018 0.4917 0.0018 0.5344 0.0018 0.5772C0.0018 0.6412 0.0011 0.6412 0.0011 0.7052C0.0011 0.7693 0.0022 0.7693 0.0022 0.8333C0.0021 0.8562 0.0021 0.8734 0.0021 0.8877C0.0021 0.8973 0.0019 0.9061 0.002 0.9139C0.0021 0.9217 0.0024 0.9288 0.0029 0.9349C0.0034 0.9412 0.004 0.9465 0.0047 0.9517C0.0053 0.9567 0.0065 0.9633 0.0081 0.9688C0.0097 0.9744 0.011 0.9778 0.0133 0.9819C0.0154 0.9858 0.0185 0.9885 0.0224 0.9882C0.0262 0.9882 0.0295 0.9882 0.0325 0.9881C0.0344 0.988 0.036 0.9879 0.0375 0.9878C0.0399 0.9874 0.0419 0.9872 0.0439 0.987C0.0478 0.9863 0.0517 0.9857 0.0595 0.9857C0.0752 0.9857 0.0752 0.9887 0.0909 0.9887C0.1065 0.9887 0.1065 0.9802 0.1222 0.9802C0.1379 0.9802 0.1379 0.9847 0.1536 0.9847C0.1693 0.9847 0.1692 0.9823 0.1849 0.9823C0.2006 0.9823 0.2006 0.9779 0.2162 0.9779C0.2319 0.9779 0.2319 0.9919 0.2476 0.9919C0.2633 0.9919 0.2633 0.9845 0.2789 0.9845C0.2946 0.9845 0.2946 0.9792 0.3103 0.9792C0.326 0.9792 0.326 0.9754 0.3416 0.9754C0.3573 0.9754 0.3573 0.9817 0.373 0.9817C0.3886 0.9817 0.3886 0.979 0.4043 0.979C0.42 0.979 0.42 0.985 0.4356 0.985C0.4513 0.985 0.4513 0.9806 0.467 0.9806C0.4827 0.9806 0.4827 0.9894 0.4984 0.9894C0.514 0.9894 0.514 0.9839 0.5297 0.9839C0.5454 0.9839 0.5454 0.9874 0.561 0.9874C0.5767 0.9874 0.5767 0.9771 0.5924 0.9771C0.608 0.9771 0.608 0.9909 0.6237 0.9909C0.6394 0.9909 0.6394 0.992 0.6551 0.992C0.6708 0.992 0.6707 0.982 0.6864 0.982C0.6969 0.9821 0.7073 0.9822 0.7178 0.9823C0.7334 0.9823 0.7334 0.9864 0.7491 0.9864C0.7648 0.9864 0.7648 0.9817 0.7804 0.9817C0.7961 0.9817 0.7961 0.9803 0.8118 0.9803C0.8274 0.9803 0.8274 0.9821 0.8431 0.9821C0.8588 0.9821 0.8588 0.9906 0.8745 0.9906C0.8901 0.9906 0.8901 0.9876 0.9058 0.9876C0.9215 0.9876 0.9215 0.9845 0.9371 0.9845C0.9528 0.9845 0.9528 0.9818 0.9685 0.9818" />
				</clipPath>
				<clipPath id="panel-bg-2" clipPathUnits="objectBoundingBox">
					<path d="M0.9962 0.7381C0.9962 0.6909 0.9946 0.6909 0.9946 0.6439C0.9946 0.5968 0.9981 0.5968 0.9981 0.5497C0.9981 0.5027 0.9984 0.5027 0.9984 0.4555C0.9984 0.4241 0.9984 0.3928 0.9984 0.3614C0.9984 0.3143 0.9961 0.3143 0.9961 0.2672C0.996 0.2359 0.996 0.2045 0.9959 0.1731C0.9959 0.1496 0.9958 0.1378 0.9956 0.126C0.9956 0.1202 0.9955 0.1143 0.9954 0.1069C0.9954 0.1023 0.9954 0.0972 0.9954 0.0914C0.9954 0.0832 0.9953 0.074 0.9953 0.0635C0.9952 0.053 0.9942 0.0454 0.9933 0.0396C0.9925 0.034 0.991 0.0283 0.9894 0.0244C0.9886 0.0224 0.9878 0.0208 0.9871 0.0196C0.9864 0.0183 0.9857 0.0173 0.9849 0.0163C0.9835 0.0143 0.9819 0.0127 0.9802 0.0114C0.9784 0.0102 0.9765 0.0099 0.9743 0.0096C0.9722 0.0093 0.97 0.0091 0.9675 0.0088C0.9656 0.0086 0.9636 0.0084 0.9613 0.0082C0.9596 0.0081 0.9577 0.008 0.9556 0.008C0.944 0.0082 0.9325 0.0083 0.921 0.0085C0.9037 0.0085 0.9037 0.0057 0.8864 0.0057C0.8691 0.0057 0.8691 0.015 0.8519 0.015C0.8346 0.015 0.8346 0.0082 0.8173 0.0082C0.8 0.0082 0.8 0.0045 0.7827 0.0045C0.7655 0.0045 0.7655 0.0148 0.7482 0.0148C0.7309 0.0148 0.7309 0.0099 0.7136 0.0099C0.6963 0.0099 0.6963 0.0068 0.679 0.0068C0.6618 0.0068 0.6618 0.0046 0.6445 0.0046C0.6272 0.0046 0.6272 0.0081 0.6099 0.0081C0.5927 0.0081 0.5927 0.012 0.5754 0.012C0.5581 0.012 0.5581 0.0141 0.5408 0.0141C0.5236 0.0141 0.5235 0.0086 0.5063 0.0086C0.489 0.0086 0.489 0.0124 0.4717 0.0124C0.4545 0.0124 0.4545 0.0133 0.4372 0.0133C0.4199 0.0133 0.4199 0.01 0.4026 0.01C0.3853 0.01 0.3854 0.006 0.3681 0.006C0.3508 0.006 0.3508 0.0038 0.3335 0.0038C0.3163 0.0038 0.3163 0.0096 0.299 0.0096C0.2817 0.0096 0.2817 0.0033 0.2644 0.0033C0.2472 0.0033 0.2472 0.0063 0.2299 0.0063L0.1953 0.0066C0.1781 0.0066 0.1781 0.012 0.1608 0.012C0.1435 0.012 0.1435 0.0076 0.1262 0.0076C0.1147 0.0076 0.1032 0.0075 0.0917 0.0075C0.0744 0.0075 0.0744 0.003 0.0571 0.003C0.0485 0.003 0.0442 0.0039 0.0399 0.0048C0.0388 0.005 0.0377 0.0051 0.0366 0.0054C0.0344 0.0055 0.0321 0.0057 0.0296 0.0059C0.0283 0.006 0.0269 0.0061 0.0255 0.0061C0.024 0.0061 0.0225 0.0062 0.0209 0.0066C0.0178 0.0076 0.0148 0.0105 0.0122 0.0146C0.0094 0.0188 0.0068 0.0265 0.0056 0.0322C0.0044 0.0377 0.0035 0.0436 0.003 0.0499C0.0024 0.0561 0.0024 0.0625 0.0024 0.0686C0.0024 0.0746 0.0024 0.0803 0.0023 0.086C0.0023 0.0993 0.0023 0.1126 0.0022 0.1392C0.0022 0.1862 0.0013 0.1862 0.0013 0.2333C0.0013 0.2803 0.0027 0.2803 0.0027 0.3274C0.0027 0.3588 0.0027 0.3901 0.0027 0.4215C0.0027 0.4686 0.0019 0.4686 0.0019 0.5156C0.0019 0.5626 0.0031 0.5627 0.0031 0.6097C0.0031 0.6567 0.0022 0.6567 0.0022 0.7038C0.0022 0.7509 0.0028 0.7509 0.0028 0.7979C0.0028 0.8449 0.002 0.845 0.002 0.892C0.0021 0.8983 0.0021 0.9039 0.0021 0.909C0.0022 0.9172 0.0023 0.9246 0.0023 0.9314C0.0024 0.938 0.0025 0.9441 0.003 0.9491C0.0034 0.9541 0.004 0.9584 0.0047 0.962C0.0055 0.9657 0.0061 0.9686 0.0072 0.972C0.0082 0.9754 0.0096 0.9788 0.0111 0.9816C0.0127 0.9844 0.0141 0.986 0.0161 0.9879C0.0182 0.9897 0.0207 0.9912 0.0238 0.9911C0.0252 0.9911 0.0277 0.991 0.0306 0.991C0.0326 0.991 0.0344 0.991 0.0362 0.991C0.0371 0.991 0.0381 0.991 0.0389 0.9911C0.0406 0.9912 0.0421 0.9913 0.0434 0.9914C0.0461 0.9917 0.0483 0.9921 0.0504 0.9925C0.0548 0.9933 0.0591 0.994 0.0677 0.994C0.085 0.994 0.085 0.9924 0.1023 0.9924C0.1195 0.9924 0.1195 0.9894 0.1368 0.9894C0.1541 0.9894 0.1541 0.9991 0.1714 0.9991C0.1886 0.9991 0.1886 0.9939 0.2059 0.9939C0.2232 0.9939 0.2232 0.9903 0.2404 0.9903C0.2577 0.9903 0.2577 0.9877 0.275 0.9877C0.2923 0.9877 0.2923 0.992 0.3095 0.992C0.3268 0.992 0.3268 0.9902 0.3441 0.9902C0.3614 0.9902 0.3614 0.9943 0.3786 0.9943C0.3959 0.9943 0.3959 0.9912 0.4132 0.9912C0.4304 0.9912 0.4304 0.9973 0.4477 0.9973C0.465 0.9973 0.465 0.9935 0.4823 0.9935C0.4995 0.9935 0.4995 0.996 0.5168 0.996C0.5341 0.996 0.5341 0.9888 0.5513 0.9888C0.5686 0.9888 0.5686 0.9984 0.5859 0.9984C0.6031 0.9984 0.6032 0.9992 0.6204 0.9992C0.6377 0.9992 0.6377 0.9923 0.655 0.9923C0.6665 0.9924 0.678 0.9925 0.6895 0.9925C0.7068 0.9925 0.7068 0.9954 0.724 0.9954C0.7413 0.9954 0.7413 0.9922 0.7586 0.9922C0.7758 0.9922 0.7758 0.9911 0.7931 0.9911C0.8104 0.9911 0.8104 0.9924 0.8276 0.9924C0.8449 0.9924 0.8449 0.9983 0.8622 0.9983C0.8795 0.9983 0.8795 0.9962 0.8967 0.9962C0.914 0.9962 0.914 0.9941 0.9313 0.9941C0.9485 0.9941 0.9485 0.9922 0.9658 0.9922C0.9663 0.9922 0.9668 0.9922 0.9672 0.9921C0.9673 0.9924 0.9675 0.9927 0.9676 0.9928C0.9689 0.9943 0.9836 0.9844 0.986 0.9829C0.9883 0.9813 0.9913 0.9773 0.9939 0.9685C0.9952 0.9641 0.9963 0.9584 0.997 0.9516C0.9974 0.9482 0.9976 0.9446 0.9977 0.9407C0.9977 0.9399 0.9978 0.9391 0.9979 0.9383C0.9981 0.935 0.9983 0.9311 0.9983 0.9266C0.9983 0.8795 0.9944 0.8795 0.9944 0.8324C0.9944 0.7852 0.9962 0.7852 0.9962 0.7381L0.9962 0.7381Z" fill="currentColor"/>
				</clipPath>
				<clipPath id="hero-bottom-cutout" clipPathUnits="objectBoundingBox">
					<path d="M1 0H0V0.2546L0 0.9696H0.0764C0.0839 0.9696 0.0797 0.9838 0.0893 0.9696C0.0988 0.9553 0.0976 0.9577 0.1036 0.9577C0.1096 0.9577 0.0994 0.9696 0.1201 0.9696H0.287C0.296 0.9696 0.2843 0.9482 0.3014 0.9696C0.3185 0.991 0.326 0.9886 0.3316 0.9886H0.3445C0.3556 0.9886 0.3571 1.0076 0.3658 0.9886C0.3745 0.9696 0.3787 0.9814 0.3868 0.9696C0.3949 0.9577 0.3985 0.9577 0.4065 0.9577C0.4146 0.9577 0.5132 0.9696 0.5315 0.9696H0.5581C0.5659 0.9696 0.6549 0.9886 0.6638 0.9886C0.6726 0.9886 0.6716 0.986 0.6806 0.9778C0.6896 0.9696 0.6952 0.9815 0.7042 0.9696C0.7192 0.9577 0.8264 1.0088 0.8366 0.9987C0.8468 0.9886 0.8503 0.9886 0.8636 0.9886H0.8994C0.9025 0.9886 0.9039 0.9876 0.9131 0.9794C0.9223 0.9712 0.9283 0.9577 0.9413 0.9577H1V0Z" fill="currentColor" />
				</clipPath>
			</defs>
		</svg>
		{showHeader && (
			<header
				class="
					fixed
					z-100
					top-0
					w-screen
					flex
					justify-between
					items-center
					px-4
					py-2
					bg-black
					text-white
					xl:px-8
					2xl:py-4
				"
			>
				<a
					href="/"
					class="
						inline-block
						p-2
						-mx-2
						focus-visible:outline-2
						focus-visible:outline-current
					"
				>
					<Logo class="w-auto h-8 2xl:h-10 3xl:h-12"/>
				</a>
				<div
					class="
						flex
						items-center
						gap-4
						xl:gap-6
						2xl:gap-8
						3xl:gap-10
					"
				>
					{nav.map(({url, label}, i) => (
						<a
							href={url}
							class={`
								focus-visible:outline-2
								focus-visible:outline-current
								${currentUrl === url ? 'text-yellow' : ''}
							`}
						>
							<UnderlinedText rotateDir={!!(i % 2)} underlineOnHover={currentUrl !== url}>
								<span class="text-sm uppercase font-semibold xl:text-base 2xl:text-lg 3xl:text-xl">
									{label}
								</span>
							</UnderlinedText>
						</a>
					))}
				</div>
			</header>
		)}
		<div class={showHeader ? "pt-(--header-height)" : ''}>
			<slot />
		</div>
	</body>
</html>