---
import "../css/global.css";
import Logo from "../images/logo.svg";
import NavStories from "../images/nav-stories.svg";
import NavData from "../images/nav-data.svg";
import NavAbout from "../images/nav-about.svg";

interface Props {
	title: string;
	description: string;
	currentUrl: string,
	bgColor: string;
}

const { title, description, currentUrl, bgColor } = Astro.props;

const nav = [
	{
		url: '/',
		label: 'Stories',
		SVGIcon: NavStories,
	},
	{
		url: '/data',
		label: 'Data',
		SVGIcon: NavData,
	},
	{
		url: '/about',
		label: 'About',
		SVGIcon: NavAbout,
	},
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<style>
			/* latin-ext */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: italic;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin-ext.woff2) format('woff2');
				unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}
			/* latin */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: italic;
				font-weight: 100 800;
				font-display: swap;
				src: url(/fonts/jetbrainsmono-latin.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
			/* latin-ext */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: normal;
				font-weight: 100 800;
				font-display: swap;
				src: url(https://fonts.gstatic.com/s/jetbrainsmono/v23/tDbV2o-flEEny0FZhsfKu5WU4xD1OwG_TA.woff2) format('woff2');
				unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
			}
			/* latin */
			@font-face {
				font-family: 'JetBrains Mono';
				font-style: normal;
				font-weight: 100 800;
				font-display: swap;
				src: url(https://fonts.gstatic.com/s/jetbrainsmono/v23/tDbV2o-flEEny0FZhsfKu5WU4xD7OwE.woff2) format('woff2');
				unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
			}
		</style>
	</head>
	<body class={`
			pt-16
			bg-${bgColor}
			3xl:pt-20
		`}
	>
		<header
			class="
				fixed
				z-50
				top-0
				w-screen
				flex
				justify-between
				items-center
				px-4
				py-2
				bg-black
				text-white
				xl:px-8
			"
		>
			<a
				href="/"
				class="
					inline-block
					p-2
					-mx-2
					focus-visible:outline-2
					focus-visible:outline-current
					md:-mx-0
				"
			>
				<Logo class="w-auto h-8 3xl:h-12"/>
			</a>
			<div
				class="
					flex
					items-center
					gap-2
					-me-3
					md:-me-0
				"
			>
				{nav.map(({url, label, SVGIcon}) => (
					<a
						href={url}
						title={label}
						class={`
							focus-visible:outline-2
							focus-visible:outline-current
							${currentUrl === url ? 'text-yellow' : ''}
						`}
					>
						<SVGIcon
							aria-hidden="true"
							class={`
								w-12
								h-12
								3xl:w-16
								3xl:h-16
							`}
						/>
						<span class="sr-only">{label}</span>
					</a>
				))}
			</div>
		</header>
		<slot />
	</body>
</html>
